.article-wrapper {
    display: flex;
    justify-content: center;
}

.article-show {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 680px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.article-title-show {
    color: rgba(41, 41, 41, 1);
    font-weight: 600;
    font-size: 50px;
    line-height: 1em;
}

.claps-comments-box {
    font-size: 17px;
    color: rgb(91, 91, 91);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-top: 1px rgb(201, 201, 201) solid;
    border-bottom: 1px rgb(201, 201, 201) solid;
}

.total-comments {
    margin-left: 10px;
}

.edit-delete {
    display: flex;
    flex-direction: row;
}

.edit-delete > *:hover {
    cursor: pointer;
}

.article-show-body {
    font-size: 20px;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    line-height: 3em;
}

#edit {
    margin-right: 15px;
}

.nav-bar-show-page {
    border-color: rgb(179, 179, 179);
}

a {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:black
}

.claps {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clap {
    width: 40px;
    height: 40px;
}

#comment-display {
    margin-left: 20px;
}

#clap:hover {
    cursor: pointer;
}