.popup {
    background-color: rgb(255, 255, 255);
    width: 678px;
    min-height: 695px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
    border: 0px solid transparent;
    outline: 0px;
}

.under-x {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.under-x > * {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

h1 {
    line-height: 32px;
    font-size: 28px;
    color: rgba(8, 8, 8, 1);
    font-weight: 400;
}

.email-input {
    background-color: transparent;
    border-color: transparent;
    outline: none;  
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 20px;
    width: 12em;
    text-align: center;
}

.password-input {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 20px;
    width: 12em;
    text-align: center;
}

.grouped-input > label {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: rgb(163, 163, 163) 1px solid;
}

.grouped-input > label > input {
    margin-top: 7px;
}

.grouped-input {
    margin-bottom: 20px;
}

.auth-button {
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 13px;
    background-color: rgb(226, 226, 226);
    padding: 5px;
    border: 2px solid rgb(173, 173, 173);
}

.auth-button:hover {
    cursor: pointer;
    background-color: rgb(168, 168, 168);
}

.demo-button {
    margin-top: 17px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 400ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ReactModal__Content {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.close-modal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.close-modal p {
    margin-right: 20px;
}

.close-modal p:hover {
    cursor: pointer;
}