.Nav-Bar {
    align-items: flex-end;
    background-color: rgb(171, 171, 171);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Middle {
    width: 400px;
}

.Nav-Links {
    display: flex;
    flex-direction: row;
}

.Nav-Links > * {
    padding-left: 20px
}