.create {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 650px;
}

.create-wrapper {
    display: flex;
    justify-content: center;
}

#create-title {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    width: 100%;
    font-size: 50px;
    color: rgb(176, 176, 176);
    margin-bottom: 30px;
    margin-top: 50px;
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif
}

#body {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: large;
    color: rgb(176, 176, 176);

}

textarea {
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif
}

.user-touched {
    color: black!important
}

.highlight-menu {
    border: black solid 1px;
    background-color: rgb(206, 206, 206);
}

.inside-menu {
    display: flex;
    flex-direction: row;
}

.inside-menu > * {
    margin-left: 8px;
    margin-right: 8px;
}
